@import "../../../styles/main.scss";

.delete_form {
  width: 60vw;
  max-width: rem(600);
  height: rem(240);
  background-color: #f8f8f8;
  border-radius: rem(12);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: rem(48);

  h5 {
    font-size: rem(24);
    text-align: center;
  }

  &__button {
    padding: rem(18) rem(36);
    border-radius: rem(12);
    font-weight: 500;
    font-size: rem(18);
    background-color: #ee0000;
    color: #f8f8f8;
    border: none;
    outline: none;
    cursor: pointer;
  }
}
